*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1c2841;
    width: 100%;

}

h1, h2, h3, h4 {
    font-family: nunito;
}

.main-introduction-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.introduction-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 80%;
}

.cv-photo-container-internal {
    width: 170px;
    height: 170px;
    border: 5px solid #f64778;
    border-radius: 100%;
    overflow: hidden;
}

.cv-photo-container-internal img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cv-photo-container-external {
    width: 180px;
    height: 180px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 1px solid #f64778;
}

.welcome-text {
    margin: 0;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: left;
    color: #f64778;
}

.introduction-text-container p {
    font-size: 18px;
    color: #f64778;
    text-align: left;
    padding-bottom: 10px;
}

.introduction-text-container ul,
.introduction-text-container a {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    color: #f64778;
}

.github-container:hover a {
    color: white;
}

.mail-icon:hover {
    color: white;
}

.mail:hover {
    color: white;
}

@media (max-width: 768px) {
    .introduction-container {
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }
    .introduction-text-container p,
    .introduction-text-container li,
    .welcome-text {
        text-align: center;
    }
    .welcome-text span::after {
        content: "\A";
        white-space: pre;
    }
}

/*Tecnologies*/
.technologies-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 300px;
}

.technologies-icon-container {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    flex-wrap: wrap;
}

.icon-swap {
    position: relative;
    width: 40px;
    height: 40px;
}

.icon-swap svg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    transition: opacity .25s;
}

.hover {
    opacity: 0;
}

.icon-swap:hover .normal {
    opacity: 0;
}

.icon-swap:hover .hover {
    opacity: 1;
}

/*SOFT_SKILLS*/
.soft-skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.soft-skills-circles-container {
    padding-top: 20px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 95px;
}

.soft-skill-container-external {
    width: 180px;
    height: 180px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 1px solid #f64778;
}

.soft-skill-container {
    width: 170px;
    height: 170px;
    flex-direction: row;
    background-color: #f64778;
    border-radius: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s;
}

.flip-front, .flip-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .95em;
    color: #1c2841;
    padding: 10px;
    backface-visibility: hidden;
    text-align: center;
    font-family: nunito;
    font-weight: 60px;/*-----*/
}

.flip-back {
    transform: rotateY(180deg);
}

.soft-skill-container.flipped {
    transform: rotateY(180deg);
}

@media (max-width: 1100px) {
    .soft-skills-circles-container {
        font-size: .75em;
        gap: 60px;
        flex-wrap: wrap;
    }
    .soft-skill-container-external {
        width: 140px;
        height: 140px;
    }
    .soft-skill-container {
        width: 130px;
        height: 130px;
    }
}

@media (max-width: 800px) {
    .soft-skills-circles-container {
        font-size: .9em;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        .soft-skill-container-external {
        width: 170px;
        height: 170px;
        }
        .soft-skill-container {
            width: 160px;
            height: 160px;
        }
    }
}

@media (max-width: 500px) {
    .soft-skills-circles-container {
        font-size: .9em;
        display: flex;
        gap: 40px;
        flex-direction: column;
    }
}

/*PROJECTS*/
.project-container p, 
.project-container ul {
    padding: 0;
    font-family: rubik;
    color: white;
    font-size: 1.4cqw;
    font-weight: 100;
    text-align: left;
}

.project-container ul {
  margin: 0;
  padding-left: 0;
  list-style-position: inside;
}

.projects-outside-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.projects-container {
    width: 66vw;
    height: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.project-container {
    container-type: inline-size;
    position: relative;
    width: 100%;
    height: 20vw;
    margin: 40px 0;
    border: 5px solid #f64778;
    border-radius: 30px;
    overflow: hidden;
}

.project-image-container {
    position: absolute;
    top: -5px;
    left: -5px;
    width: calc(61.8% + 5px);
    height: calc(100% + 10px);
    border: 5px solid #f64778;
    border-radius: 30px;
    z-index: 2;
    overflow: hidden;
    transition: opacity 1.5s ease-in-out, transform .6s ease-in;
}

.project-container:hover .project-image-container {
    transform: translateX(61.8%);
}

.project-image-container img.img1 {
    opacity: 1;
}

.project-image-container img.img2 {
    opacity: 0;
}

.project-container:hover .project-image-container img.img1 {
    opacity: 0;
}

.project-container:hover .project-image-container img.img2 {
    opacity: 1;
}

.project-text-container, .project-text-container-left {
    width: 38.2%;
    height: 100%;
    flex-direction: row;
}

.project-container-internal {
    display: flex;
    justify-content: space-between;
    border: 1px solid #f64778;
    border-radius: 22px;
    padding: 5px;
    margin: 5px;
    height: calc(100% - 10px);
}

.project-image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
}

h2 {
    width: 100%;
    margin: 50px;
    color: white;
    text-align: center;
    font-size: 22px;
}

h3 {
    width: 100%;
    color: white;
    text-align: left;
    font-size: 20px;
}

.project-text {
    padding-left: 3cqw;
    padding-right: 3cqw;
    color: white;
}

h4 {
    font-size: 1.6cqw;
    padding-top: 1cqw;
    padding-bottom: 1cqw;
}

img {
    color: #7fd6e7;
}

br {
    line-height: 1.6cqw;
}

/*HOBBIES*/

.hobbies-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hobbies-circles-container {
    padding-top: 20px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 95px;
}

.hobby-container-external {
    width: 180px;
    height: 180px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 1px solid #f64778;
}

.hobby-container {
    width: 170px;
    height: 170px;
    flex-direction: row;
    background-color: #f64778;
    border-radius: 100%;
}

/*cooking*/
#spoon {
  transform-origin: 46px 35px;
  animation: stir 5s ease-in-out infinite;
}

@keyframes stir {
  0%   { transform: rotate(0deg) translate(0px, 0px); }
  25%  { transform: rotate(15deg) translate(2px, -2px); }
  50%  { transform: rotate(0deg) translate(0px, -4px); }
  75%  { transform: rotate(-15deg) translate(-2px, -2px); }
  100% { transform: rotate(0deg) translate(0px, 0px); }
}

#steam1, #steam2, #steam3 {
  animation: steam 6s linear infinite;
  transform-origin: center bottom;
}

@keyframes steam {
  0%   { transform: translate(0, 0); opacity: 0.6; }
  25%  { transform: translate(1px, -18px); opacity: 0.7; }
  50%  { transform: translate(.5px, -25px); opacity: 0.5; }
  75%  { transform: translate(1px, -52px); opacity: 1; }
  100% { transform: translate(0, -95px); opacity: 0.2; }
}

/* drawing-coloring*/
#stem, #petal, #flower-center,
#leaf-right, #leaf-left {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 4s ease infinite;
}

#stem { animation-delay: 0.8s; }
#petal { animation-delay: 1.6s; }
#flower-center { animation-delay: 2.4s; }
#leaf-right { animation-delay: 3.2s; }
#leaf-left { animation-delay: 4s; }

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

/* .wiggle {
    animation: wiggleAnim 2s ease-in-out forwards;
}

@keyframes wiggleAnim {
    0%   { transform: rotate(0deg); }
    25%  { transform: rotate(10deg); }
    50%  { transform: rotate(-10deg); }
    75%  { transform: rotate(5deg); }
    100% { transform: rotate(0deg); }
} */

/*programming*/
#gear-outer, #gear-middle, #gear-inner {
    transform-origin: 75px 49px;
    animation: spin 6s linear infinite;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

[id^="charging-strip-"] {
  opacity: 0;
  animation: chargeCycle 6s ease-in-out infinite;
}

#charging-strip-1 { animation-delay: 0s; }
#charging-strip-2 { animation-delay: 0.3s; }
#charging-strip-3 { animation-delay: 0.6s; }
#charging-strip-4 { animation-delay: 0.9s; }
#charging-strip-5 { animation-delay: 1.2s; }
#charging-strip-6 { animation-delay: 1.5s; }
#charging-strip-7 { animation-delay: 1.8s; }
#charging-strip-8 { animation-delay: 2.1s; }
#charging-strip-9 { animation-delay: 2.4s; }
#charging-strip-10 { animation-delay: 2.7s; }
#charging-strip-11 { animation-delay: 3.0s; }
#charging-strip-12 { animation-delay: 3.3s; }
#charging-strip-13 { animation-delay: 3.6s; }

@keyframes chargeCycle {
  0%, 15% { opacity: 0; }
  20%, 60% { opacity: 1; }
  80%, 100% { opacity: 0; }
}

@media (max-width: 1100px) {
    .hobbies-circles-container {
        gap: 60px;
        flex-wrap: wrap;
    }
    .hobby-container-external {
        width: 140px;
        height: 140px;
    }
    .hobby-container {
        width: 130px;
        height: 130px;
    }
}

@media (max-width: 800px) {
    .hobbies-circles-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 80px;
    }
    .hobby-container-external {
        width: 170px;
        height: 170px;
    }
    .hobby-container {
        width: 160px;
        height: 160px;
    }
}

@media (max-width: 500px) {
    .hobbies-circles-container {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}

/*octopus*/
.octopus-container {
    display: none;
    position: absolute;
    top: 200px;
    right: -40px;
    width: 360px;
    height: auto;
}

#octopus, #bubbles {
    animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-10px) rotate(1deg);
  }
}

#tentacle1, #tentacle2, #tentacle3, #tentacle4 {
    transform-origin: top center;
    animation: float-tentacles 6s ease-in-out infinite;
}

@keyframes float-tentacles {
    0%, 100% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(0.98) rotate(-0.5deg);
    }
}

#tentacle1 { animation-delay: 0s; }
#tentacle2 { animation-delay: 1s; }
#tentacle3 { animation-delay: 0.5s; }
#tentacle4 { animation-delay: 1.5s; }

#head {
    animation: head-scale 6s ease-in-out infinite;
}

@keyframes head-scale {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.02); }
}

#pupil-right, #pupil-left {
    transform-origin: center;
    animation: pupil-scale 6s ease-in-out infinite;
}

@keyframes pupil-scale {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.02); }
}

#blush-left, #blush-right {
    transform-origin: 90px 100px;
    opacity: 0.9;
    transform: scale(1);
    transition: transform 0.6s ease, opacity 0.6s ease;
}

#octopus:hover #blush-left,
#octopus:hover #blush-right {
    opacity: 1;
    transform: scale(1.05);
}

#bubble1, #bubble2, #bubble3 {
    transform-origin: center center;
    animation: float-tentacles 6s ease-in-out infinite;
}

@keyframes float-tentacles {
    0%, 100% {
        transform: scaleY(1) scaleZ(1) scaleX(1);
    }
    50% {
        transform: scaleY(0.98) rotate(-0.5deg);
    }
}

#bubble1 { animation-delay: 0s; }
#bubble2 { animation-delay: 1s; }
#bubble3 { animation-delay: 0.5s; }

/*FOOTER*/
footer {
    background-color: #f64778;
    color: #1c2841;
    padding: 30px 80px 15px 80px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
    font-family: nunito;
}

.footer-left,
.footer-right {
    list-style: none;
    padding: 0;
}

.footer-left li,
.footer-right li {
    margin-bottom: 8px;
    font-size: 1.4cqw;
    font-size: 16px;
}

.footer-left a,
.footer-right a {
    color: #1c2841;
    text-decoration: none;
    font-family: rubik;
}

.footer-right a {
    margin-left: 6px;
}

.footer-left a:hover {
    color: white;
}

.fav-icon-container:hover a {
    color: white;
}

.footer-bottom-container {
    display: flex;
    justify-content: center;
    font-family: nunito;
}
.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2cqw;
    font-size: 12px;
    padding-top: 10px;
    opacity: 70%;
}

@media (max-width: 600px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-left,
  .footer-right {
    margin-bottom: 15px;
  }
}