*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1c2841;
    width: 100%;
    font-family: nunito, sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;

}

h1, h2, h3, h4 {
    font-family: nunito, sans-serif;
}

/*Introduction*/
.main-container {
    width: 100%;
    max-width: 1440px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-introduction-container {
    margin: 100px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.introduction-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
    width: 70%;
}

.cv-photo-container-internal {
    width: 310px;
    height: 310px;
    border: 5px solid #f64778;
    border-radius: 100%;
    overflow: hidden;
}

.cv-photo-container-internal img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cv-photo-container-external {
    min-width: 320px;
    width: 320px;
    height: 320px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 1px solid #f64778;
}

.welcome-text {
    margin: 0 0 20px 0;
    font-size: 40px;
    text-align: left;
    color: #f64778;
}

.introduction-text-container p {
    font-size: 18px;
    color: #fff;
    text-align: justify;
    padding-bottom: 20px;
}

.introduction-text-container ul,
.introduction-text-container a {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    color: #f64778;
}

.github-container {
    margin-top: 8px;
}

.github-container:hover a {
    color: white;
}

.mail-icon:hover {
    color: white;
}

.mail:hover {
    color: white;
}

@media (max-width: 1200px) {
    .introduction-container {
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }
    .introduction-text-container p,
    .introduction-text-container li,
    .welcome-text {
        text-align: center;
    }
    .welcome-text span::after {
        content: "\A";
        white-space: pre;
    }
}

/*Technologies*/
.technologies-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.technologies-icon-container {
    margin: 0 auto;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    gap: 0;

    &:hover .group {
        animation-play-state: paused;
    }
}

.group {
    display: flex;
    gap: 60px;
    will-change: transform;
    animation: horizontal-scrolling 20s linear infinite;
    padding: 0 30px;
}

@keyframes horizontal-scrolling {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.technology {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.technology-text {
    font-size: 28px;
    color: #fff;
    white-space: nowrap;
}

.icon-swap {
    position: relative;
    width: auto;
    height: 60px;
}

.icon-swap img {
    width: auto;
    height: 100%;
    transition: opacity .25s;
}

.hover {
    position: absolute;
    inset: 0;
    opacity: 0;
}

.technology:hover .icon-swap .normal {
    opacity: 0;
}

.technology:hover .icon-swap .hover {
    opacity: 1;
}


/*SOFT_SKILLS*/
.soft-skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.soft-skills-circles-container {
    padding-top: 20px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 95px;
}

.soft-skill-container-external {
    width: 180px;
    height: 180px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 1px solid #f64778;
}

.soft-skill-container {
    width: 170px;
    height: 170px;
    flex-direction: row;
    background-color: #f64778;
    border-radius: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s;
}

.flip-front, .flip-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .95em;
    color: #1c2841;
    padding: 10px;
    backface-visibility: hidden;
    text-align: center;
    font-family: nunito, sans-serif;
    font-weight: 600;/*-----*/
}

.flip-back {
    transform: rotateY(180deg);
}

.soft-skill-container.flipped {
    transform: rotateY(180deg);
}

@media (max-width: 1100px) {
    .soft-skills-circles-container {
        font-size: .75em;
        gap: 60px;
        flex-wrap: wrap;
    }
    .soft-skill-container-external {
        width: 140px;
        height: 140px;
    }
    .soft-skill-container {
        width: 130px;
        height: 130px;
    }
}

@media (max-width: 800px) {
    .soft-skills-circles-container {
        font-size: .9em;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        .soft-skill-container-external {
        width: 170px;
        height: 170px;
        }
        .soft-skill-container {
            width: 160px;
            height: 160px;
        }
    }
}

@media (max-width: 500px) {
    .soft-skills-circles-container {
        font-size: .9em;
        display: flex;
        gap: 40px;
        flex-direction: column;
    }
}

/*PROJECTS*/
.project-container p, 
.project-container ul {
    padding: 0;
    font-family: rubik, sans-serif;
    color: white;
    font-size: 1.4cqw;
    font-weight: 100;
    text-align: left;
}

.project-container ul {
  margin: 0;
  padding-left: 0;
  list-style-position: inside;
}

.projects-outside-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.projects-container {
    width: 66vw;
    height: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.project-container {
    container-type: inline-size;
    position: relative;
    width: 100%;
    height: 20vw;
    margin: 40px 0;
    border: 5px solid #f64778;
    border-radius: 30px;
    overflow: hidden;
}

.project-image-container {
    position: absolute;
    top: -5px;
    left: -5px;
    width: calc(61.8% + 5px);
    height: calc(100% + 10px);
    border: 5px solid #f64778;
    border-radius: 30px;
    z-index: 2;
    overflow: hidden;
    transition: opacity 1.5s ease-in-out, transform .6s ease-in;
}

.project-container:hover .project-image-container {
    transform: translateX(61.8%);
}

.project-image-container img.img1 {
    opacity: 1;
}

.project-image-container img.img2 {
    opacity: 0;
}

.project-container:hover .project-image-container img.img1 {
    opacity: 0;
}

.project-container:hover .project-image-container img.img2 {
    opacity: 1;
}

.project-text-container, .project-text-container-left {
    width: 38.2%;
    height: 100%;
    flex-direction: row;
}

.project-container-internal {
    display: flex;
    justify-content: space-between;
    border: 1px solid #f64778;
    border-radius: 22px;
    padding: 5px;
    margin: 5px;
    height: calc(100% - 10px);
}

.project-image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
}

h2 {
    width: 100%;
    margin: 80px 0 60px 0;
    color: white;
    text-align: center;
    font-size: 22px;
}

h3 {
    width: 100%;
    color: white;
    text-align: left;
    font-size: 20px;
}

.project-text {
    padding-left: 3cqw;
    padding-right: 3cqw;
    color: white;
}

h4 {
    font-size: 1.6cqw;
    padding-top: 1cqw;
    padding-bottom: 1cqw;
}

img {
    color: #7fd6e7;
}

br {
    line-height: 1.6cqw;
}

/*HOBBIES*/

.hobbies-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hobbies-circles-container {
    padding-top: 20px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 95px;
}

.hobby-container-external {
    width: 180px;
    height: 180px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 1px solid #f64778;
    overflow: hidden;
}

.hobby-container {
    width: 170px;
    height: 170px;
    flex-direction: row;
    background-color: #f64778;
    border-radius: 100%;
    position: relative;
}

.hobby-container svg {
    width: 100%;
    height: 100%;
    display: block;
}

@media (max-width: 1100px) {
    .hobbies-circles-container {
        gap: 60px;
        flex-wrap: wrap;
    }
    .hobby-container-external {
        width: 140px;
        height: 140px;
    }
    .hobby-container {
        width: 130px;
        height: 130px;
    }
}

@media (max-width: 800px) {
    .hobbies-circles-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 80px;
    }
    .hobby-container-external {
        width: 170px;
        height: 170px;
    }
    .hobby-container {
        width: 160px;
        height: 160px;
    }
}

@media (max-width: 500px) {
    .hobbies-circles-container {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}

/*octopus*/
.octopus-container {
    /*display: none;*/
    position: absolute;
    top: 200px;
    right: -40px;
    width: 360px;
    height: auto;
}

/*FOOTER*/
footer {
    width: 100%;
    background-color: #f64778;
    color: #1c2841;
    padding: 30px 80px 15px 80px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
    font-family: nunito, sans-serif;
}

.footer-left,
.footer-right {
    list-style: none;
    padding: 0;
}

.footer-left li,
.footer-right li {
    margin-bottom: 8px;
    font-size: 1.4cqw;
    font-size: 16px;
}

.footer-left a,
.footer-right a {
    color: #1c2841;
    text-decoration: none;
    font-family: rubik, sans-serif;
}

.footer-right a {
    margin-left: 6px;
}

.footer-left a:hover {
    color: white;
}

.fav-icon-container:hover a {
    color: white;
}

.footer-bottom-container {
    display: flex;
    justify-content: center;
    font-family: nunito, sans-serif;
}
.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2cqw;
    font-size: 12px;
    padding-top: 10px;
    opacity: 70%;
}

@media (max-width: 600px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-left,
  .footer-right {
    margin-bottom: 15px;
  }
}